@import '../../scss/variable.scss';
.projectList {
    .project-image{
        .image-block{
            figure{
                width: 100%;
                height: 500px;
                margin: 0;
                object-fit: cover;
                        img{
                            width: 100%;
                            height: 100%;
                        }
            }
            li{
                height: 100px;
                overflow: hidden;
                width: 100%;
                position: relative;
                margin-right: 10px;
                margin-top: 5px;
                transition: all ease-in-out .5s;
                cursor: pointer;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .overlay{
                            background: rgba(0, 0, 0, .6);
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                        // &:hover{
                        //     transform: scale(1.1);
                        // }
            }
            .active{
                height: 100px;
                overflow: hidden;
                width: 100%;
                position: relative;
                margin-right: 10px;
                margin-top: 5px;
                transition: all ease-in-out .5s;
                cursor: pointer;
                .overlay{display: none;}
            }
            .fadein{
                animation: fadeIn 5s; 
            }
        }
        // .my-key-skills{
        //     margin: 100px 0 0 0;
        //     h2{
        //         color: $background;
        //         font-size: $fontSize40;
        //         padding: 0 0 100px 0;
        //     }
        //     li {
        //         font-size: $fontSize16;
        //         color: $white;
        //         display: inline-block;
        //         border-radius: $radius5;
        //         background: $background;
        //         padding: 10px;
        //         text-align: center;
        //         margin: 0 10px 10px 0;
        //         white-space: nowrap; width: auto;
        //         box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        //     }
        // }
    }
}