@import '../../scss/variable.scss';
.topSkills {
    .my-key-skills{
        h2{
            color: $background;
            font-size: $fontSize40;
            padding: 100px 0 50px 0;
        }
        li {
            font-size: $fontSize16;
            color: $white;
            display: inline-block;
            border-radius: $radius5;
            background: $background;
            padding: 10px;
            text-align: center;
            margin: 0 10px 10px 0;
            white-space: nowrap; width: auto;
            box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        }
    }
}