
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



$background:#21272f;
$white:#FFFFFF;
$green:#01B891;
$darkBg:#171C23;
$error:#CC1E1E;
$blue:#2525A2;
$fontSize12:12px;
$fontSize13:13px;
$fontSize15:15px;
$fontSize16:16px;
$fontSize18:18px;
$fontSize20:20px;
$fontSize30:30px;
$fontSize40:40px;
$fontSize50:50px;
$border:#4b5b71;
$black:#000000;
$gray:#808080;
$placeholder:#999999;
$bold:700;
$normal:normal;
$fontFamily: 'Roboto', sans-serif;
$greenBoxShadow:#418E7E;
$radius5:5px;
$radius5:10px;
